
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
}

header {
    background: #000000d2;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid  #000000b2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    background: #fff;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #000000d2;
    color: white;
}

.project {
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-left: 5px solid#000000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

h2 {
    border-bottom: 2px solid #7f8488;
    padding-bottom: 10px;
    margin-bottom: 1.5rem;
    color: #2c3e50;
}

footer {
    text-align: center;
    padding: 2rem;
    background:  #000000d2;
    color: white;
    margin-top: 3rem;
}